// file gn_editor_ogp.less
@import "../../default/less/gn_search_default.less";
@import "../../../style/gn_editor";
@import "../../default/less/gn_view.less";
@import "constants";

.navbar-default {
  background-color: @light-green;
}


// tooltip question mark
.field-tooltip {
  color: #333333;
  font-size: 14px;
 /* position: absolute;
  top: 25px;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;*/
}

.form-horizontal {
  .field-tooltip {
    /*top: 0;
    right: -25px;*/
  }
}

.field-tooltip:hover {
  color: #2a6496;
}

form.gn-editor .field-tooltip {
  visibility: hidden;
}