<div class="modal-header">
    <h3 data-translate="">ogpSelectBbox</h3>
</div>

<div class="modal-body">
    <div gn-draw-bbox data-hleft-ref="mapMinx" data-htop-ref="mapMaxy" data-hbottom-ref="mapMiny"
         data-hright-ref="mapMaxx" data-dc-ref="metadataDc" data-bbox="bbox" data-hleft="{{bbox.minx}}" data-hbottom="{{bbox.miny}}"
            data-hright="{{bbox.maxx}}" data-htop="{{bbox.maxy}}" data-show-region-selector="false">

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" data-translate="">ogpOK</button>
</div>